<!DOCTYPE html>
{% load static %}
<html>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" >
		<style>
			
		</style>
	</head>
	<body>
		<div class="container">
			<div style="display:flex; flex-wrap:wrap">
				<div class="card" style="width: 300px; margin-right: 10px;margin-bottom: 10px">
					
					<div class="card-body">
						<img src="img.png" style="width:270px;height:100px;">
						<h5 class="card-title">About Us</h5>
						<p class="card-text"></p>
						
					</div>
				</div>
			</div>
		</div>
		
		
	</body>
</html>