<!DOCTYPE html>
{% load static %}
<html>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" >
		<style>
			
		</style>
	</head>
	<body>
		<div class="card" style="width: 18rem;">
			<img src="img.jpg" class="card-img-top" alt="">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		
		
	</body>
</html>