<!DOCTYPE html>
<html>
<head>
	<title>Admin View</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/solar/bootstrap.min.css">
	<style>
	</style>
</head>
<body>
	<div class="container">
		
	<table class="table table-striped">
		<tr>
			<th style="color:#81ecec">User</th>
			<th style="color:#81ecec">Grade</th>
			<th style="color:#81ecec">Board</th>
			<th style="color:#81ecec">Join Date</th>
			<th style="color:#81ecec">Last Paid</th>
			<th style="color:#81ecec">Next Due</th>
			<th style="color:#81ecec">Action</th>
		</tr>
	{% for user in users %}
		<tr>
			<td style="color:#81ecec">
				{{user}}
			</td>
			<td style="color:#81ecec">
				{{user.profile.grade}}
			</td>
			<td style="color:#81ecec">
				{{user.profile.board}}
			</td>
			<td style="color:#81ecec">
				{{user.profile.join_date}}
			</td>
			<td style="color:#81ecec">
				{{user.profile.last_paid}}
			</td>
			<td style="color:#81ecec">
				{{user.profile.next_due_date}}
			</td style="color:#81ecec"> 
			<td>
				<a href="/feesHistory/{{user.id}}" class="btn btn-sm btn-primary">See Fee History</a>
				<a href="/update/{{user.id}}/" class="btn btn-sm btn-secondary">Update Payment</a>
			</td>
		</tr>
	{%endfor%}
	</table>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>