<!DOCTYPE html>
<html>
<head>
	<title>Admin View</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		
	<table class="table table-striped">
		<tr>
			<th>User</th>
			<th>Grade</th>
			<th>Board</th>
			<th>Join Date</th>
			<th>Last Paid</th>
			<th>Next Due</th>
			<th>Action</th>
		</tr>
	{% for user in users %}
		<tr>
			<td>
				{{user}}
			</td>
			<td>
				{{user.profile.grade}}
			</td>
			<td>
				{{user.profile.board}}
			</td>
			<td>
				{{user.profile.join_date}}
			</td>
			<td>
				{{user.profile.last_paid}}
			</td>
			<td>
				{{user.profile.next_due_date}}
			</td>
			<td>
				<a href="/feesHistory/{{user.id}}" class="btn btn-sm btn-primary">See Fee History</a>
				<a href="/update/{{user.id}}/" class="btn btn-sm btn-success">Update Payment</a>
			</td>
		</tr>
	{%endfor%}
	</table>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>