<!DOCTYPE html>
{%load static%}
<html>
	<head>
		<title>SIGN UP</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
		
		<style>
		select {
		width: 296px;
		
		}
		.c h2
		{
			font-family:Helvatica;
			font-size: 68px;
			text-align: center;
			padding-top: 30px;
			padding-left: 35px;
			}
		.card {
		margin: 0 auto; /* Added */
		float: none; /* Added */
		margin-bottom: 10px; /* Added */
		}
		</style>
	</head>
	<body>
		
		<div class="container">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Paid Date</th>
					
				</tr>
				<!-- <tr>
						<td>
								{{user}}
						</td>
				</tr> -->
				{% for fees in all_fees %}
					<tr>
						<td>
							{{fees.user}}
						</td>
						<td>
							{{fees.paid_date}}
						</td>
						
					</tr>
					{%endfor%}
				</table>
			</div>
		</body>
	</html>