<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    
    
    
    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    
    <style>
    select {
    width: 296px;
    
    }
    .c h2
    {
    font-family:Helvatica;
    font-size: 68px;
    text-align: center;
    padding-top: 30px;
    padding-left: 35px;
    }
    .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    }
    </style>
    
    
  </head>
  <body>
    <div>
      
      <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link"></a>
        
        <ul class="nav justify-content-end">
          <li class="nav-item">
            
          <li class="nav-item">
            <a class="nav-link"><button type="button" style="background:#0fb9b1" class="btn btn-info" data-toggle="modal" data-target="#myModal">Contact Us </button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup/"><button type="button" style="background:#1B1464" class="btn btn-info">Sign Up</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/"><button type="button" style="background:#1B1464" class="btn btn-info">Sign In</button></a>
          </li>
          
        </ul>
        <div class="container">
          <div class="centered">
            <p style="font-size:90px;padding-left:400px;text-shadow: 2px 2px 8px #FF0000;"><b>Matufe</b></p>
            
          </div>
        </div>
      </div>
    </div>
    <div style="text-align:center" class="container">
      <br><br>
      <div class="card  shadow-lg" style="width: 70rem;">
        <div class="card-body" style="background-color:#dfe6e9;">
          
          <p style="font-size:40px;text-align:center;color:#ff4757;font-family: Trebuchet MS">
          <b><i>It's designed for your child.</p><p style="font-size:30px;text-align: justify;font-family:Lucida Grande;padding-left: 10px;padding-right: 10px;color: #1e272e">Matufe was born with a vision to help students learn math the right way and overcome the difficulties they face due to traditional blackboard learning.We expose children to a learning system that enables and encourages them to think the <b>WHY</b> behind the <b>WHAT</b> of math concepts.We make sure that personal attention is given to the students.  </i></b>
        </p>
        
      </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog" style="color:#f5f6fa ">
      <div class="modal-dialog">
        
        <div class="modal-content">
          <div class="modal-header">
            
            <h4 class="modal-title"> Please feel free to Contact Us </h4>
          </div>
          <div class="modal-body">
            <p style="color: #dcdde1,font-size:50px;text-align: center; ">
              <b>Phone</b>:123<br>
              <b>Email</b>:abc@gmail.com
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>