<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    
    
    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <style>
    select {
    width: 296px;
    
    }
    .c h2
    {
    font-family:Helvatica;
    font-size: 68px;
    text-align: center;
    padding-top: 30px;
    padding-left: 35px;
    }
    .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    }
    </style>
    <link rel="icon" href="{% static 'images/cover.jpg' %}" type="image/jpg" sizes="16x16">
    
  </head>
  <body>
    <div>
      <!-- <img src="/images/img.png" class="img-circle" alt="Cinque Terre"> -->
      <div class="alert alert-primary" role="alert">
        <a href="#" class="alert-link"></a>
        
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="/about/">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup/">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/">Sign In</a>
          </li>
          
        </ul>
      </div>
    </div>
  </body>
</html>