<!DOCTYPE html>
{%load static%}
<html>
	<head>
		<title>SIGN IN</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
		
		
		<style>
		select {
		width: 296px;
		
		}
		.c h2
		{
			font-family:Helvatica;
			font-size: 68px;
			text-align: center;
			padding-top: 30px;
			padding-left: 35px;
			}
		.card {
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
		}
		</style>
	</head>
	<body class="container c">
		<h2 style="font-family:Fira Sans;">SIGN IN</h2>
		<div class="card border-dark mb-3 shadow-lg" style="width: 40rem;" >
			<div class="card-body" style="background-color:#f1f2f6;">
				<form action="/login/" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<input class="form-control" type="username" placeholder="Username" name="username">
						<h6 style="color:#EA2027;">{{show}}</h6>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" placeholder="Password" name="password">
						<h6 style="color:#EA2027;">{{show}}</h6>
					</div>
					<div class="form-group">
						<input class="btn btn-md btn-success" type="submit">
					</div>
				</form>
			</div>
		</body>
	</html>